/* @custom-media --phone-s (width >=375px); */
:root {
    /* colors */
    --white: #fff;
    --soft-white: hsl(0, 0%, 96.86%);
    --soft-white-dark: #f4f4f4;
    /* --soft-white-medium: #e5e7f4; */

    --dark-blue: hsl(229, 31%, 21%);
    --dark-blue-transparent: hsla(229, 31%, 21%, 0.9);

    --gray: #6a6b70;
    --gray-blue: hsl(229, 8%, 60%);
    --gray-blue-light: #dde0e9;

    --soft-blue: hsl(231, 69%, 60%);
    --soft-blue-dark: #5361b9;
    --soft-blue-medium: hsl(231, 69%, 60%, 0.2);

    --soft-red: hsl(0, 94%, 66%);
    --svg-soft-red: ;



    /* font-family */
    --font-sans: 'Rubik', sans-serif;

    /* dimension */
    --grid-width: 1114px;
}
html {
    font-size: 62.5%;
}
*,
*::after,
*::before {
    box-sizing: border-box;

    margin: 0;
    padding: 0;
}
body {
    min-height: 100vh;
    margin: 0;

    background-color: #fff;

    background-color: var(--white);

    color: hsl(229, 8%, 60%);

    color: var(--gray-blue);
    font-family: 'Rubik', sans-serif;
    font-family: var(--font-sans);
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.6;
    text-rendering: optimizeLegibility
}
@media (min-width: 1200px) {
body {
        font-size: 1.8rem
}
    }
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
/* media */
img,
svg {
    display: block;

    width: 100%;
    max-width: 100%;
    height: auto;

    border-style: none;
}
svg {
    transition: fill 0.3s ease-in-out;

    fill: #fff;
    /* fill: currentColor; */
}
figure {
    margin: 1.6rem 0;
}
/* alignments */
.alignleft {
    margin-right: 2.4rem;
    float: left;
}
.alignright {
    margin-left: 2.4rem;
    float: right;
}
.aligncenter {
    display: block;

    margin-right: auto;
    margin-left: auto;
    clear: both;
}
.clearfix::before,
.clearfix::after {
    content: '';

    display: table;

    table-layout: fixed;
}
.clearfix::after {
    clear: both;
}
.text-center {
    text-align: center;
}
/* Hide visually and from screen readers */
.hidden {
    display: none;
}
/* Hide visually and from screen readers, but maintain layout */
.invisible {
    visibility: hidden;
}
/* Hide only visually, but have it available for screen readers */
.sr-only {
    position: absolute;

    width: 0.1rem;
    height: 0.1rem;
    margin: -0.1rem;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);

    border: 0;

    white-space: nowrap;
}
.sr-only.focusable:active,
.sr-only.focusable:focus {
    position: static;

    width: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    clip: auto;

    white-space: inherit;
}
/* Typography */
h1,
h2,
h3 {
    margin-top: 0;

    color: hsl(229, 31%, 21%);

    color: var(--dark-blue);
    font-weight: 500;
}
h1 {
    margin-bottom: 1.5rem;

    font-size: 3rem;
    letter-spacing: 0;
    line-height: 1.4
}
@media (min-width: 1200px) {
h1 {
        margin-bottom: 2.3rem;

        font-size: 4.6rem;
        letter-spacing: 0.022em;
        line-height: 1.13
}
    }
h2 {
    margin-bottom: 1.2rem;

    font-size: 2.4rem;
    letter-spacing: -0.001rem;
    line-height: 1.4
}
@media (min-width: 1200px) {
h2 {
        margin-bottom: 2rem;

        font-size: 3rem;
        letter-spacing: 0.089rem
}
    }
h3 {
    margin-bottom: 0.5rem;

    font-size: 2rem;
    letter-spacing: 0.03rem;
    line-height: 1.3;
}
p {
    margin-top: 0;
    margin-bottom: 3rem;

    letter-spacing: 0.056rem;
    line-height: 1.8
}
@media (min-width: 1200px) {
p {
        letter-spacing: 0.006rem;
        line-height: 1.6
}
    }
button,
input {
    background-color: none;

    font-family: inherit;
}
.container {
    max-width: 1114px;
    max-width: var(--grid-width);
    margin: 0 auto;
    padding-right: 3rem;
    padding-left: 3rem
}
@media (min-width: 992px) {
.container {
        padding-right: 0;
        padding-left: 0
}
    }
.logo {
    width: 14.8rem;
}
input[type='email'] {
    height: 4.6rem;
    line-height: 4.5rem;
}
input[type='email'],
.btn {
    border: solid 2px currentColor;
    border-radius: 4px;
}
.btn {
    display: block;

    width: -webkit-max-content;

    width: -moz-max-content;

    width: max-content;
    padding: 0 1.8rem;

    transition: 0.3s;

    font-weight: 500;
    height: 4.7rem;
    line-height: 4.6rem;
    cursor: pointer
}
@media (min-width: 1200px) {
.btn {
        margin: auto;
        padding: 0 2.3rem;

        font-size: 1.4rem
}
    }
.btn-primary {
    border-color: #5361b9;
    border-color: var(--soft-blue-dark);

    background-color: hsl(231, 69%, 60%);

    background-color: var(--soft-blue);
    box-shadow: 0 5px 8px 1px hsl(231, 69%, 60%, 0.2);
    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    color: #fff;

    color: var(--white);
    text-shadow: 0 1px 0 #5361b9;
    text-shadow: 0 1px 0 var(--soft-blue-dark)
}
.btn-primary:hover,
    .btn-primary:active {
        color: hsl(231, 69%, 60%);
        color: var(--soft-blue);
        border-color: #5361b9;
        border-color: var(--soft-blue-dark);
        background-color: transparent;
        text-shadow: none;
    }
.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
    box-shadow: 0 3px 5px 0 hsl(231, 69%, 60%, 0.2);
    box-shadow: 0 3px 5px 0 var(--soft-blue-medium);
}
.btn-secondary {
    border-color: #f4f4f4;
    border-color: var(--soft-white-dark);

    background-color: hsl(0, 0%, 96.86%);

    background-color: var(--soft-white);
    box-shadow: 0 5px 8px 1px hsl(231, 69%, 60%, 0.2);
    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    color: hsl(229, 31%, 21%);

    color: var(--dark-blue);
    text-shadow: 0 1px 0 #f4f4f4;
    text-shadow: 0 1px 0 var(--soft-white-dark)
}
.btn-secondary:hover,
    .btn-secondary:active {
        color: #6a6b70;
        color: var(--gray);
        border-color: currentcolor;
        background-color: transparent;
        text-shadow: none;
    }
.btn-group {
    /* display: flex;
    justify-content: space-between; */
    display: grid;

    grid-column-gap: 1.6rem;
    grid-template-columns: 1fr 1fr;

    /* max-width: 31.2rem; */

    max-width: -webkit-max-content;

    max-width: -moz-max-content;

    max-width: max-content;
    margin: 0 auto
}
@media (min-width: 1200px) {
.btn-group {
        margin: 0
}
    }
.btn-more {
    width: 11.4rem;
    margin: auto;
}
.btn-submit {
    height: 4.8rem;

    border-color: hsl(0, 94%, 66%);

    border-color: var(--soft-red);

    background-color: hsl(0, 94%, 66%);

    background-color: var(--soft-red);

    color: #fff;

    color: var(--white);
    line-height: 4.7rem;
    width: 100%
}
@media (min-width: 992px) {
.btn-submit {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content
}
    }
.social-icon {
    width: 2.4rem;
}
hr {
    height: 1rem;
    margin: 2.4rem -2.4rem;

    border: 0;

    background: url('../images/bg-dots.svg') repeat-x 50% 50%;
}
p.wrap {
    max-width: 49rem;
    margin: 0 auto 3rem;
}
.site-header {
    margin-bottom: 7.8rem
}
@media (min-width: 1200px) {
.site-header {
        margin-bottom: 10rem
}
    }
.site-header .container {
        display: flex;

        align-items: center;
        justify-content: space-between;

        margin-top: 4rem
    }
@media (min-width: 1200px) {
.site-header .container {
            margin-top: 4.8rem
    }
        }
.site-header .social {
        display: flex;

        align-items: center;
        justify-content: space-around;

        width: 12.8rem;
        margin: auto auto 4rem
    }
@media (min-width: 1200px) {
.site-header .social {
            display: none
    }
        }
.nav {
    display: flex;

    text-align: center;
}
.nav-toggle {
    display: flex;
    z-index: 100;

    flex-direction: column;
    justify-content: space-between;

    height: 1.5rem;

    cursor: pointer
}
@media (min-width: 1200px) {
.nav-toggle {
        display: none
}
    }
.nav-toggle i {
        display: block;

        width: 1.8rem;
        height: 0.3rem;

        background: hsl(229, 31%, 21%);

        background: var(--dark-blue);
    }
/* hamburger animation */
#nav:checked + .nav-toggle {
    transform: rotate(45deg);
}
#nav:checked + .nav-toggle i,
#nav + .nav-toggle i {
    transition: transform 0.2s ease-out;
}
#nav:checked + .nav-toggle i:nth-child(1) {
    transform: translateY(0.5rem) rotate(180deg);

    background-color: #fff;

    background-color: var(--white);
}
#nav:checked + .nav-toggle i:nth-child(2) {
    transform: translateY(-5rem);

    opacity: 0;
    background-color: #fff;
    background-color: var(--white);
}
#nav:checked + .nav-toggle i:nth-child(3) {
    transform: translateY(-0.7rem) rotate(90deg);

    background-color: #fff;

    background-color: var(--white);
}
#nav:checked ~ .nav-wrapper {
    z-index: 90;
    top: 0;

    opacity: 1;
}
#nav + .nav-toggle i + .nav {
    display: hidden;
}
.nav-wrapper {
    display: flex;
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;

    flex-direction: column;

    height: 100vh;
    padding: 4rem 3rem;

    transition: 0.3s cubic-bezier(0.94, 0.06, 0.61, 0.92);

    opacity: 0;
    background: hsla(229, 31%, 21%, 0.9);
    background: var(--dark-blue-transparent)
}
@media (min-width: 1200px) {
.nav-wrapper {
        position: static;

        flex-direction: row;

        height: unset;
        padding: 0;

        opacity: 1;
        background: none
}

        .nav-wrapper svg {
            display: none;
        }
    }
.site-nav {
    margin-top: 4rem
}
@media (min-width: 1200px) {
.site-nav {
        display: flex;

        align-items: baseline;
        justify-content: space-between;

        width: 46.6rem;
        margin-top: 0
}
    }
.site-nav .login {
        box-shadow: 0 5px 8px 1px hsl(231, 69%, 60%, 0.2);
        box-shadow: 0 5px 8px 1px var(--soft-blue-medium);
        padding: 0 3rem;
        border: solid 2px currentcolor;
        border-radius: 5px;
        color: #fff;
        color: var(--white);
        font-weight: 500
    }
@media (min-width: 1200px) {
.site-nav .login {
            border-color: hsl(0, 94%, 66%);
            border-color: var(--soft-red);
            background-color: hsl(0, 94%, 66%);
            background-color: var(--soft-red);

            color: #fff;

            color: var(--white)
    }

            .site-nav .login:hover,
            .site-nav .login:active {
                color: hsl(0, 94%, 66%);
                color: var(--soft-red);
                border-color: currentcolor;
                background-color: #fff;
                background-color: var(--white);
                box-shadow: 0 3px 5px 0 hsl(231, 69%, 60%, 0.2);
                box-shadow: 0 3px 5px 0 var(--soft-blue-medium);
            }
        }
.site-nav li {
        border-top: solid 1px hsl(229, 8%, 60%);
        border-top: solid 1px var(--gray-blue)
    }
.site-nav li:last-child {
            padding-top: 2.4rem;
        }
@media (min-width: 1200px) {
.site-nav li {
            border: 0
    }

            .site-nav li:last-child {
                padding-top: 0;
            }
        }
.site-nav a {
        display: block;

        height: 6.5rem;

        transition: 0.2s;

        color: #fff;

        color: var(--white);
        font-size: 1.6rem;
        letter-spacing: 0.4rem;
        line-height: 6.4rem;
        text-transform: uppercase
    }
@media (min-width: 1200px) {
.site-nav a {
            height: 4rem;
            padding: 0 1rem;

            color: hsl(229, 31%, 21%);

            color: var(--dark-blue);
            font-size: 1.3rem;
            letter-spacing: 0.167rem;
            line-height: 3.7rem
    }

            .site-nav a:hover,
            .site-nav a:active {
                color: hsl(0, 94%, 66%);
                color: var(--soft-red);
            }
        }
section {
    margin-bottom: 15rem
}
@media (min-width: 1200px) {
section {
        margin-bottom: 6rem
}
    }
.intro {
    position: relative;

    text-align: center
}
@media (min-width: 1200px) {
.intro {
        text-align: left
}
    }
.intro .tablet {
        /* z-index: 10; */
        position: relative;
    }
.intro::after {
        content: '';

        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 32.2rem;

        width: 81vw;
        height: 20.3rem;

        border-bottom-left-radius: 100px;

        background-color: hsl(231, 69%, 60%);

        background-color: var(--soft-blue)
    }
@media (min-width: 1200px) {
.intro::after {
            bottom: 24px;

            width: 35.7vw;
            height: 35.3rem;

            border-bottom-left-radius: 173px
    }
        }
@media (min-width: 1200px) {
        .intro .container {
            display: flex
        }

            .intro .container>div {
                flex: 1;

                padding-top: 83px;
                padding-right: 40px;
            }
    }
.tablet {
    min-width: 35rem;

    /* max-width: 35rem; */
    margin: 0 -1.8rem 5.5rem
}
@media (min-width: 1200px) {
.tablet {
        flex: 1;
        order: 1;

        min-width: 660px;
        margin-right: -110px
}
    }
.features {
    position: relative;

    text-align: center
}
.features::after {
        content: '';

        display: block;
        position: absolute;
        z-index: -1;
        bottom: 18.7rem;
        left: 0;

        width: 81.6vw;
        height: 20.3rem;

        border-bottom-right-radius: 100px;

        background-color: hsl(231, 69%, 60%);

        background-color: var(--soft-blue)
    }
@media (min-width: 1200px) {
.features::after {
            top: 420px;

            width: 44.4vw;
            height: 35.2rem;

            border-top-right-radius: 140px;
            border-bottom-right-radius: 173px
    }
        }
@media (min-width: 1200px) {
.features {
        margin-bottom: 150px

        /*  & .container>p {
     max-width: 540px;
     margin: 0 auto 3rem;
 } */
}
    }
.tab {
    display: flex;

    flex-direction: column;

    margin-top: 3.8rem
}
@media (min-width: 1200px) {
.tab {
        flex-direction: row;

        width: -webkit-max-content;

        width: -moz-max-content;

        width: max-content;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto
}
    }
.tab li {
        border-bottom: solid 1px #dde0e9;
        border-bottom: solid 1px var(--gray-blue-light)
    }
.tab li:first-child {
            border-top: solid 1px #dde0e9;
            border-top: solid 1px var(--gray-blue-light)
        }
@media (min-width: 1200px) {
.tab li:first-child {
                margin: 0 -1px;

                border-top: 0
        }
            }
.tab button {
        display: block;
        position: relative;

        width: 100%;
        height: 5.7rem;

        transition: 0.3s;

        border: none;

        background-color: inherit;

        color: #6a6b70;

        color: var(--gray);
        font-size: 1.7rem;
        line-height: 5.6rem;

        cursor: pointer
    }
@media (min-width: 1200px) {
.tab button {
            height: 7.6rem;
            padding: 0 55px;

            line-height: 7.5rem
    }
        }
.tab button:hover {
            color: hsl(0, 94%, 66%);
            color: var(--soft-red);
        }
.tab button::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 50%;

            width: 0;
            height: 0.4rem;

            transform: translateX(-50%);
            transition: width 0.1s ease-out;

            background-color: hsl(0, 94%, 66%);

            background-color: var(--soft-red);

            will-change: width;
        }
.tab button.active {
            color: hsl(229, 31%, 21%);
            color: var(--dark-blue);
        }
.tab button.active::before,
        .tab button:hover::before {
            width: 46%;

            color: hsl(229, 31%, 21%);

            color: var(--dark-blue)
        }
@media (min-width: 1200px) {
.tab button.active::before,
        .tab button:hover::before {
                width: 100%
        }
            }
.tabcontent {
    padding-top: 7.2rem
}
@media (min-width: 1200px) {
.tabcontent {
        display: grid;

        grid-column-gap: 81px;
        grid-template-columns: 1fr 0.9fr;

        padding-top: 8rem;
        padding-bottom: 72px;

        text-align: left
}

        .tabcontent>div {
            padding-top: 62px;
            padding-left: 43px;
        }
    }
.tabcontent img {
        margin-bottom: 7.5rem
    }
@media (min-width: 1200px) {
.tabcontent img {
            margin-bottom: 0
    }
        }
.tabcontent .btn {
        display: none
    }
@media (min-width: 1200px) {
.tabcontent .btn {
            display: block;
            margin-left: 0
    }
        }
#tab-02 img {
    width: inherit;
    height: 392px;
    margin-left: 24%;
}
#tab-03 img {
    width: inherit;
    width: 43.8rem;
    margin-left: auto;
}
.extension {
    text-align: center;
}
@media (min-width: 1200px) {
.card-wrapper {
        display: flex;
        justify-content: center;
        align-items: center
}
    }
.card {
    width: 90%;
    margin: 0 auto 4.6rem;
    padding: 2.4rem;
    max-width: 28rem;
    border-radius: 12px;

    box-shadow: 0 5px 8px 1px hsl(231, 69%, 60%, 0.2);

    box-shadow: 0 5px 8px 1px var(--soft-blue-medium)
}
@media (min-width: 1200px) {
.card {
        margin-left: 1.6rem;
        margin-right: 1.6rem
}
    }
.card img {
        width: 10rem;
        margin: 3.2rem auto;
    }
.card .btn {
        width: 100%;
    }
@media (min-width: 1200px) {
        .card:nth-child(2) {
            margin-top: 7.8rem;
        }

        .card:nth-child(3) {
            margin-top: 15.6rem;
        }
    }
.faq {
    text-align: center;
}
.accordion-content {
    margin: 5rem auto 4.8rem;

    text-align: left
}
@media (min-width: 1200px) {
.accordion-content {
        max-width: 54.2rem
}
    }
.icon-arrow {
    width: 1.8rem;

    stroke: hsl(231, 69%, 60%);

    stroke: var(--soft-blue);
}
.accordion {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 6rem;

    transition: 0.3s;

    border: 0;

    background-color: #fff;

    background-color: var(--white);

    font-size: 1.5rem;
    line-height: 5.9rem;

    cursor: pointer
}
.accordion:not(:first-child) {
        border-top: solid 1px #dde0e9;
        border-top: solid 1px var(--gray-blue-light);
    }
.accordion:hover {
        color: hsl(0, 94%, 66%);
        color: var(--soft-red);
    }
.active>span+.icon-arrow {
    transform: rotate(180deg);

    stroke: hsl(0, 94%, 66%);

    stroke: var(--soft-red);
}
.panel {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease-out
}
.panel>div {
        padding: 2rem 0 1rem;
    }
.panel p {
        letter-spacing: 0.069rem;
        line-height: 2
    }
@media (min-width: 1200px) {
.panel p {
            font-size: 1.5rem
    }
        }
.sign-up {
    margin-bottom: 0;
    padding: 6.7rem 0 5rem;

    background-color: hsl(231, 69%, 60%);

    background-color: var(--soft-blue);

    color: #fff;

    color: var(--white);
    text-align: center
}
.sign-up h2 {
        margin-bottom: 3.3rem;

        color: #fff;

        color: var(--white);
        line-height: 1.2
    }
@media (min-width: 992px) {
.sign-up h2 {
            max-width: 44rem;
            margin: 3.5rem auto 3.5rem;
            line-height: 1.3
    }
        }
.extra-info {
    margin-bottom: 0.5rem;

    letter-spacing: 0.326rem;
    text-transform: uppercase
}
@media (min-width: 992px) {
.extra-info {
        font-size: 1.4rem;
        letter-spacing: 0.418rem
}
    }
form {
    display: flex;

    flex-flow: column wrap
}
form p * {
        display: block;
    }
@media (min-width: 992px) {
form {
        width: -webkit-max-content;
        width: -moz-max-content;
        width: max-content;
        flex-direction: row;
        margin: auto;
        justify-content: space-between
}

        form .btn {
            margin-top: 0;
            margin-left: 1.5rem
        }

            form .btn:hover,
            form .btn:active {
                color: hsl(0, 94%, 66%);
                color: var(--soft-red);
                border-color: currentcolor;
                background-color: #fff;
                background-color: var(--white);
            }
    }
input[type='email'] {
    position: relative;

    width: 100%;
    margin: 0;
    padding: 0 1.8rem;

    border: 2px solid #fff;

    border: 2px solid var(--white);

    background-color: #fff;

    background-color: var(--white);

    color: hsl(229, 8%, 60%);

    color: var(--gray-blue);
    font-size: 1.4rem;
    min-width: 30rem;
}
input:focus {
    color: hsl(229, 31%, 21%);
    color: var(--dark-blue);
}
input:invalid {
    border-color: hsl(0, 94%, 66%);
    border-color: var(--soft-red);

    background: #fff url('../images/icon-error.svg') no-repeat 96% center;

    background: var(--white) url('../images/icon-error.svg') no-repeat 96% center;
}
input:focus:invalid {
    border-color: transparent;
}
.error {
    display: block;

    width: 100%;
    margin-top: -0.5rem;
    padding: 0;

    border-radius: 0 0 5px 5px;

    background-color: hsl(0, 94%, 66%);

    background-color: var(--soft-red);

    color: white;
    font-size: 80%;
    text-align: left
}
@media (min-width: 992px) {
.error {
        font-size: 60%
}
    }
.error.active {
    padding: 0.8rem 1.2rem 0.5rem;
}
.site-footer {
    padding: 3.8rem 0 3rem;

    background-color: hsl(229, 31%, 21%);

    background-color: var(--dark-blue);

    text-align: center
}
@media (min-width: 992px) {
.site-footer {
        padding-top: 2.6rem
}
    }
.site-footer .container {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-between
    }
@media (min-width: 992px) {
.site-footer .container {
            flex-direction: row
    }
        }
.site-footer .social {
        display: flex;

        align-items: center;
        justify-content: space-between;

        width: 9rem;
        margin: auto auto 4rem
    }
@media (min-width: 992px) {
.site-footer .social {
            margin: 0
    }
        }
.site-footer svg:hover,
    .site-footer svg:active {
        fill: hsl(0, 94%, 66%);
        fill: var(--soft-red);
    }
.site-footer-nav {
    margin: 4rem 0 3rem
}
@media (min-width: 992px) {
.site-footer-nav {
        display: flex;

        margin: 0 auto 0 6.5rem
}
    }
.site-footer-nav a {
        display: block;

        height: 4rem;

        transition: 0.2s;

        color: #fff;

        color: var(--white);
        letter-spacing: 0.3rem;
        line-height: 3.9rem;
        text-transform: uppercase;
        font-size: 1.4rem
    }
.site-footer-nav a:hover {
            color: hsl(0, 94%, 66%);
            color: var(--soft-red);
        }
@media (min-width: 992px) {
.site-footer-nav a {
            margin-right: 4.2rem;
            font-size: 1.3rem
    }
        }
.attribution {
    margin: 1.5rem 0 0;

    font-size: 1.1rem;
    text-align: center;
}
.attribution a {
    color: hsl(0, 94%, 66%);
    color: var(--soft-red);
}