.container {
    max-width: var(--grid-width);
    margin: 0 auto;
    padding-right: 3rem;
    padding-left: 3rem;

    @media (--lg) {
        padding-right: 0;
        padding-left: 0;
    }
}

.logo {
    width: 14.8rem;
}

input[type='email'] {
    height: 4.6rem;

    line-height: 4.5rem;
}

input[type='email'],
.btn {
    border: solid 2px currentColor;
    border-radius: 4px;
}

.btn {
    display: block;

    width: max-content;
    height: 4.7rem;
    padding: 0 1.8rem;

    transition: 0.3s;

    font-weight: 500;
    line-height: 4.6rem;

    cursor: pointer;

    @media (--xl) {
        margin: auto;
        padding: 0 2.3rem;

        font-size: 1.4rem;
    }
}

.btn-primary {
    border-color: var(--soft-blue-dark);

    background-color: var(--soft-blue);
    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    color: var(--white);
    text-shadow: 0 1px 0 var(--soft-blue-dark);

    &:hover,
    &:active {
        border-color: var(--soft-blue-dark);

        background-color: transparent;

        color: var(--soft-blue);
        text-shadow: none;
    }
}

.btn-primary:hover,
.btn-primary:active,
.btn-secondary:hover,
.btn-secondary:active {
    box-shadow: 0 3px 5px 0 var(--soft-blue-medium);
}

.btn-secondary {
    border-color: var(--soft-white-dark);

    background-color: var(--soft-white);
    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    color: var(--dark-blue);
    text-shadow: 0 1px 0 var(--soft-white-dark);

    &:hover,
    &:active {
        border-color: currentcolor;

        background-color: transparent;

        color: var(--gray);
        text-shadow: none;
    }
}

.btn-group {
    /* display: flex;
    justify-content: space-between; */
    display: grid;

    grid-column-gap: 1.6rem;
    grid-template-columns: 1fr 1fr;

/* max-width: 31.2rem; */

    max-width: max-content;
    margin: 0 auto;

    @media (--xl) {
        margin: 0;
    }
}

.btn-more {
    width: 11.4rem;
    margin: auto;
}

.btn-submit {
    width: 100%;
    height: 4.8rem;

    border-color: var(--soft-red);

    background-color: var(--soft-red);

    color: var(--white);
    line-height: 4.7rem;

    @media (--md) {
        width: max-content;
    }
}

.social-icon {
    width: 2.4rem;
}

hr {
    height: 1rem;
    margin: 2.4rem -2.4rem;

    border: 0;

    background: url('../images/bg-dots.svg') repeat-x 50% 50%;
}

p.wrap {
    max-width: 49rem;
    margin: 0 auto 3rem;
}
