.container {
    max-width: var(--grid-width);
    padding-right: 3.1rem;
    padding-left: 3.1rem;
}

.logo {
    width: 14.8rem;
}

.btn {
    height: 4.6rem;
    padding: 0 1.3rem;
    border-radius: 4px;
    line-height: 4.6rem;
    display: block;
    font-weight: 500;
    cursor: pointer;
}

.btn-primary {
    background-color: var(--soft-blue);
    color: #fff;
    border: solid 1px var(--soft-blue-dark);
    text-shadow: 0 1px 0 var(--soft-blue-dark);
    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);
}

.btn-secondary {
    background-color: var(--soft-white);
    color: var(--very-dark-blue);
    border: solid 1px var(--soft-white-dark);
    text-shadow: 0 1px 0 var(--soft-white-dark);
}

.btn-group {
    display: flex;
    justify-content: space-between;
    max-width: 312px;
    margin: 0 auto;
}

.soft-white-shadow {
    box-shadow: 0 5px 8px 1px var(--soft-white-medium);
}

.social-icon {
    width: 2.4rem;
}
