.container {
    max-width: var(--grid-width);
    padding-right: 3rem;
    padding-left: 3rem;
}

.logo {
    width: 14.8rem;
}

input[type='email'],
.btn {
    height: 4.6rem;

    border: solid 1px currentColor;
    border-radius: 4px;

    line-height: 4.6rem;
}

.btn {
    display: block;

    padding: 0 1.8rem;

    font-weight: 500;

    cursor: pointer;
}

.btn-primary {
    border: solid 1px var(--soft-blue-dark);

    background-color: var(--soft-blue);
    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    color: var(--white);
    text-shadow: 0 1px 0 var(--soft-blue-dark);
}

.btn-secondary {
    border: solid 1px var(--soft-white-dark);

    background-color: var(--soft-white);
    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    color: var(--dark-blue);
    text-shadow: 0 1px 0 var(--soft-white-dark);
}

.btn-group {
    display: flex;

    justify-content: space-between;

    max-width: 31.2rem;
    margin: 0 auto;
}

.btn-more {
    width: 11.4rem;
    margin: auto;
}

.btn-submit {
    height: 4.8rem;

    border-color: var(--soft-red);

    background-color: var(--soft-red);

    color: var(--white);
    line-height: 4.8rem;
}

/* .soft-white-shadow {
    box-shadow: 0 5px 8px 1px var(--soft-white-medium);
} */

.social-icon {
    width: 2.4rem;
}

.card {
    width: 90%;
    margin: 0 auto 4.6rem;
    padding: 2.4rem;

    border-radius: 12px;

    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    & img {
        width: 10rem;
        margin: 3.2rem auto;
    }
}

hr {
    height: 1rem;
    margin: 2.4rem -2.4rem;

    border: 0;

    background: url('../images/bg-dots.svg') repeat-x 50% 50%;
}
