section {
    margin-bottom: 15rem;

    @media (--xl) {
        margin-bottom: 6rem;
    }
}

.intro {
    position: relative;

    text-align: center;

    @media (--xl) {
        text-align: left;
    }

    & .tablet {
        /* z-index: 10; */
        position: relative;
    }

    &::after {
        content: '';

        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 32.2rem;

        width: 81vw;
        height: 20.3rem;

        border-bottom-left-radius: 100px;

        background-color: var(--soft-blue);

        @media (--xl) {
            bottom: 24px;

            width: 35.7vw;
            height: 35.3rem;

            border-bottom-left-radius: 173px;
        }
    }

    @media (--xl) {
        & .container {
            display: flex;

            &>div {
                flex: 1;

                padding-top: 83px;
                padding-right: 40px;
            }
        }
    }
}

.tablet {
    min-width: 35rem;

    /* max-width: 35rem; */
    margin: 0 -1.8rem 5.5rem;

    @media (--xl) {
        flex: 1;
        order: 1;

        min-width: 660px;
        margin-right: -110px;
    }
}

.features {
    position: relative;

    text-align: center;

    &::after {
        content: '';

        display: block;
        position: absolute;
        z-index: -1;
        bottom: 18.7rem;
        left: 0;

        width: 81.6vw;
        height: 20.3rem;

        border-bottom-right-radius: 100px;

        background-color: var(--soft-blue);

        @media (--xl) {
            top: 420px;

            width: 44.4vw;
            height: 35.2rem;

            border-top-right-radius: 140px;
            border-bottom-right-radius: 173px;
        }
    }

    @media (--xl) {
        margin-bottom: 150px;

        /*  & .container>p {
     max-width: 540px;
     margin: 0 auto 3rem;
 } */
    }
}

.tab {
    display: flex;

    flex-direction: column;

    margin-top: 3.8rem;

    @media (--xl) {
        flex-direction: row;

        width: max-content;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
    }

    & li {
        border-bottom: solid 1px var(--gray-blue-light);

        &:first-child {
            border-top: solid 1px var(--gray-blue-light);

            @media (--xl) {
                margin: 0 -1px;

                border-top: 0;
            }
        }
    }

    & button {
        display: block;
        position: relative;

        width: 100%;
        height: 5.7rem;

        transition: 0.3s;

        border: none;

        background-color: inherit;

        color: var(--gray);
        font-size: 1.7rem;
        line-height: 5.7rem;

        cursor: pointer;

        @media (--xl) {
            height: 7.6rem;
            padding: 0 55px;

            line-height: 7.6rem;
        }

        &:hover,
        &.active {
            color: var(--dark-blue);
        }

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 50%;

            width: 0;
            height: 0.4rem;

            transform: translateX(-50%);
            transition: width 0.1s ease-out;

            background-color: var(--soft-red);

            will-change: width;
        }

        &.active::before,
        &:hover::before {
            width: 46%;

            color: var(--dark-blue);

            @media (--xl) {
                width: 100%;
            }
        }
    }
}

.tabcontent {
    padding-top: 7.2rem;

    @media (--xl) {
        display: grid;

        grid-column-gap: 81px;
        grid-template-columns: 1fr 0.9fr;

        padding-top: 8rem;
        padding-bottom: 72px;

        text-align: left;

        &>div {
            padding-top: 62px;
            padding-left: 43px;
        }
    }

    & img {
        margin-bottom: 7.5rem;

        @media (--xl) {
            margin-bottom: 0;
        }
    }

    & .btn {
        display: none;

        @media (--xl) {
            display: block;
            margin-left: 0;
        }
    }
}

#tab-02 img {
    width: inherit;
    height: 392px;
    margin-left: 24%;
}

#tab-03 img {
    width: inherit;
    width: 438px;
    margin-left: auto;
}

.extension {
    text-align: center;

    /*  @media (--xl) {
     & .container>p {
         max-width: 540px;
         margin: 0 auto 3rem;
     }
 }

 */
}

.card-wrapper {


    @media (--xl) {

        display: flex;
        justify-content: center;
        align-items: center;
    }
}

.card {
    width: 90%;
    margin: 0 auto 4.6rem;
    padding: 2.4rem;
    max-width: 280px;
    border-radius: 12px;

    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    @media (--xl) {
        margin-left: 1.6rem;
        margin-right: 1.6rem;
    }

    & img {
        width: 10rem;
        margin: 3.2rem auto;
    }

    & .btn {
        width: 100%;
    }

    @media (--xl) {
        &:nth-child(2) {
            margin-top: 78px;
        }

        &:nth-child(3) {
            margin-top: 156px;
        }
    }
}

.faq {
    text-align: center;
}

.accordion-content {
    margin: 5rem auto 4.8rem;

    text-align: left;

    @media (--xl) {
        max-width: 54.2rem;
    }
}

.icon-arrow {
    width: 18px;

    stroke: #5267df;
}

.accordion {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 6rem;

    transition: 0.3s;

    border: 0;
    border-bottom: solid 1px var(--gray-blue-light);

    background-color: var(--white);

    font-size: 1.5rem;
    line-height: 6rem;

    cursor: pointer;

    @media (--xl) {
        &:first-child {
            border-top: solid 1px var(--gray-blue-light);
        }

        /* font-size: 1.8rem; */
    }
}

.active,
.accordion:hover {
    color: var(--soft-red);
}

.active>span+.icon-arrow,
.accordion:hover>span+.icon-arrow {
    transform: rotate(180deg);

    stroke: currentColor;
}

.panel {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease-out;

    &>div {
        padding: 4rem 0 1rem;
    }

    & p {
        letter-spacing: 0.069rem;
        line-height: 2;

        @media(--xl) {
            font-size: 15px;

        }
    }
}


.sign-up {
    margin-bottom: 0;
    padding: 6.7rem 0 5rem;

    background-color: var(--soft-blue);

    color: var(--white);
    text-align: center;

    & h2 {
        margin-bottom: 3.3rem;

        color: var(--white);
        line-height: 1.2;

        @media (--lg) {
            max-width: 44rem;
            margin: 35px auto 3.5rem;
            line-height: 1.3;
        }
    }
}

.extra-info {
    margin-bottom: 5px;

    letter-spacing: 0.326rem;
    text-transform: uppercase;

    @media (--lg) {
        font-size: 14px;
        letter-spacing: 0.418rem;
    }
}

form {
    display: flex;

    flex-flow: column wrap;

    & p * {
        display: block;
    }

    @media (--lg) {
        width: max-content;
        flex-direction: row;
        margin: auto;
        justify-content: space-between;

        & .btn {
            margin-top: 0;
            margin-left: 15px;
        }
    }
}

input[type='email'] {
    position: relative;

    width: 100%;
    margin: 0;
    padding: 0 1.8rem;

    border: 2px solid var(--white);

    background-color: var(--white);

    color: var(--gray-blue);
    font-size: 1.4rem;
    min-width: 300px;
}

input:focus {
    color: var(--dark-blue);
}

input:invalid {
    border-color: var(--soft-red);

    background: var(--white) url('../images/icon-error.svg') no-repeat 96% center;
}

input:focus:invalid {
    border-color: transparent;
}

.error {
    display: block;

    width: 100%;
    margin-top: -5px;
    padding: 0;

    border-radius: 0 0 5px 5px;

    background-color: var(--soft-red);

    color: white;
    font-size: 80%;
    text-align: left;

    @media (--lg) {
        font-size: 60%;
    }
}

.error.active {
    padding: 1.3rem 1.2rem 0.6rem;

    @media (--lg) {
        padding: 8px 13px;
    }
}