section {
    margin-bottom: 15rem;

    @media (--xl) {
        margin-bottom: 6rem;
    }
}

.intro {
    position: relative;

    text-align: center;

    @media (--xl) {
        text-align: left;
    }

    & .tablet {
        /* z-index: 10; */
        position: relative;
    }

    &::after {
        content: '';

        display: block;
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 32.2rem;

        width: 81vw;
        height: 20.3rem;

        border-bottom-left-radius: 100px;

        background-color: var(--soft-blue);

        @media (--md) {
            bottom: 22rem;

            width: 70.7vw;
            height: 35.3rem;

            border-bottom-left-radius: 173px;
        }

        @media (--xl) {
            bottom: 2.4rem;

            width: 35.7vw;
        }
    }

    @media (--xl) {
        & .container {
            display: flex;

            & > div {
                flex: 1;

                padding-top: 83px;
                padding-right: 40px;
            }
        }
    }
}

.tablet {
    min-width: 35rem;

/* max-width: 35rem; */
    margin: 0 -1.8rem 5.5rem;

    @media (--md) {
        margin-right: auto;
        margin-left: auto;
    }

    @media (--xl) {
        flex: 1;
        order: 1;

        min-width: 660px;
        margin-right: -110px;
    }
}

.features {
    position: relative;

    text-align: center;

    &::after {
        content: '';

        display: block;
        position: absolute;
        z-index: -1;
        top: 46.5rem;
        left: 0;

        width: 81.6vw;
        height: 20.3rem;

        border-top-right-radius: 140px;
        border-bottom-right-radius: 100px;

        background-color: var(--soft-blue);

        @media (--md) {
            top: 53.5rem;

            width: 74.5vw;
            height: 35.2rem;

            border-top-right-radius: 140px;
            border-bottom-right-radius: 173px;
        }

        @media (--xl) {
            top: 42rem;

            width: 44.4vw;
            height: 35.2rem;
        }
    }

    @media (--xl) {
        margin-bottom: 150px;

        /*  & .container>p {
     max-width: 540px;
     margin: 0 auto 3rem;
 } */
    }
}

.tab {
    display: flex;

    flex-direction: column;

    margin-top: 3.8rem;

    @media (--xl) {
        flex-direction: row;

        width: max-content;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
    }

    & li {
        border-bottom: solid 1px var(--gray-blue-light);

        &:first-child {
            border-top: solid 1px var(--gray-blue-light);

            @media (--xl) {
                margin: 0 -1px;

                border-top: 0;
            }
        }
    }

    & button {
        display: block;
        position: relative;

        width: 100%;
        height: 5.7rem;

        transition: 0.3s;

        border: none;

        background-color: inherit;

        color: var(--gray);
        font-size: 1.7rem;
        line-height: 5.6rem;

        cursor: pointer;

        @media (--xl) {
            height: 7.6rem;
            padding: 0 55px;

            line-height: 7.5rem;
        }

        &:hover {
            color: var(--soft-red);
        }

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 50%;

            width: 0;
            height: 0.4rem;

            transform: translateX(-50%);
            transition: width 0.1s ease-out;

            background-color: var(--soft-red);

            will-change: width;
        }

        &.active {
            color: var(--dark-blue);
        }

        &.active::before,
        &:hover::before {
            width: 46%;

            color: var(--dark-blue);

            @media (--xl) {
                width: 100%;
            }
        }
    }
}

.tabcontent {
    padding-top: 7.2rem;

    @media (--xl) {
        display: grid;

        grid-column-gap: 81px;
        grid-template-columns: 1fr 0.9fr;

        padding-top: 8rem;
        padding-bottom: 72px;

        text-align: left;

        & > div {
            padding-top: 62px;
            padding-left: 43px;
        }
    }

    & img {
        margin: 0 auto 7.5rem;
        /* margin-left: auto; */

        @media (--md) {
            width: 90%;
            margin-bottom: 10rem;
        }
        @media (--xl) {
            margin-bottom: 0;
        }
    }

    & .btn {
        display: none;

        @media (--xl) {
            display: block;

            margin-left: 0;
        }
    }
}

#tab-02 img {
    width: 85%;
    margin: -17px 0 6.2rem 13%;

    @media (--md) {
        width: 75.6%;
    }
}

#tab-03 img {
    width: 86%;
    margin: -17px 0 6.2rem 13%;

    @media (--md) {
        width: 76.1%;
    }
}

.extension {
    text-align: center;
}

.card-wrapper {
    @media (--xl) {
        display: flex;

        align-items: center;
        justify-content: center;
    }
}

.card {
    width: 90%;

/* max-width: 28rem; */
    margin: 0 auto 4.6rem;
    padding: 2.4rem;

    border-radius: 12px;

    box-shadow: 0 5px 8px 1px var(--soft-blue-medium);

    @media (--md) {
        display: grid;

        grid-column-gap: 3rem;
        grid-template-columns: 0.5fr 0.7fr auto 1fr;

        align-items: center;

        padding: 2rem 2.4rem;

        & p {
            margin: 0;
        }
        & hr {
            transform: rotate(90deg);
        }
    }

    @media (--xl) {
        margin-right: 1.6rem;
        margin-left: 1.6rem;
    }

    & img {
        width: 10rem;
        margin: 3.2rem auto;
    }

    & .btn {
        width: 100%;
    }

    @media (--xl) {
        &:nth-child(2) {
            margin-top: 7.8rem;
        }

        &:nth-child(3) {
            margin-top: 15.6rem;
        }
    }
}

.faq {
    text-align: center;
}

.accordion-content {
    margin: 5rem auto 4.8rem;

    text-align: left;

    @media (--xl) {
        max-width: 54.2rem;
    }
}

.icon-arrow {
    width: 1.8rem;

    stroke: var(--soft-blue);
}

.accordion {
    display: flex;

    align-items: center;
    justify-content: space-between;

    width: 100%;
    height: 6rem;

    transition: 0.3s;

    border: 0;

    background-color: var(--white);

    font-size: 1.5rem;
    line-height: 5.9rem;

    cursor: pointer;

    &:not(:first-child) {
        border-top: solid 1px var(--gray-blue-light);
    }

    &:hover {
        color: var(--soft-red);
    }
}

.active > span + .icon-arrow {
    transform: rotate(180deg);

    stroke: var(--soft-red);
}

.panel {
    max-height: 0;
    overflow: hidden;

    transition: max-height 0.3s ease-out;

    & > div {
        padding: 2rem 0 1rem;
    }

    & p {
        letter-spacing: 0.069rem;
        line-height: 2;

        @media (--xl) {
            font-size: 1.5rem;
        }
    }
}

.sign-up {
    margin-bottom: 0;
    padding: 6.7rem 0 5rem;

    background-color: var(--soft-blue);

    color: var(--white);
    text-align: center;

    & h2 {
        margin-bottom: 3.3rem;

        color: var(--white);
        line-height: 1.2;

        @media (--lg) {
            max-width: 44rem;
            margin: 3.5rem auto 3.5rem;

            line-height: 1.3;
        }
    }
}

.extra-info {
    margin-bottom: 0.5rem;

    letter-spacing: 0.326rem;
    text-transform: uppercase;

    @media (--lg) {
        font-size: 1.4rem;
        letter-spacing: 0.418rem;
    }
}

form {
    display: flex;

    flex-flow: column wrap;

    & p * {
        display: block;
    }

    @media (--md) {
        flex-direction: row;
        justify-content: space-between;

        width: max-content;
        margin: auto;

        & .btn {
            margin-top: 0;
            margin-left: 1.5rem;

            &:hover,
            &:active {
                border-color: currentcolor;

                background-color: var(--white);

                color: var(--soft-red);
            }
        }
    }
}

input[type='email'] {
    position: relative;

    width: 100%;
    min-width: 30rem;
    margin: 0;
    padding: 0 1.8rem;

    border: 2px solid var(--white);

    background-color: var(--white);

    color: var(--gray-blue);
    font-size: 1.4rem;
}

input:focus {
    color: var(--dark-blue);
}

input:invalid {
    border-color: var(--soft-red);

    background: var(--white) url('../images/icon-error.svg') no-repeat 96% center;
}

input:focus:invalid {
    border-color: transparent;
}

.error {
    display: block;

    width: 100%;
    margin-top: -0.5rem;
    padding: 0;

    border-radius: 0 0 5px 5px;

    background-color: var(--soft-red);

    color: white;
    font-size: 80%;
    text-align: left;

    @media (--lg) {
        font-size: 60%;
    }
}

.error.active {
    padding: 0.8rem 1.2rem 0.5rem;
}
