.features {
    position: relative;

    text-align: center;

    &::after {
        content: '';

        display: block;
        position: absolute;
        z-index: -1;
        top: 46.5rem;
        left: 0;

        width: 81.6vw;
        height: 20.3rem;

        border-top-right-radius: 140px;
        border-bottom-right-radius: 100px;

        background-color: var(--soft-blue);

        @media (--md) {
            top: 53.5rem;

            width: 74.5vw;
            height: 35.2rem;

            border-top-right-radius: 140px;
            border-bottom-right-radius: 173px;
        }

        @media (--xl) {
            top: 42rem;

            width: 44.4vw;
            height: 35.2rem;
        }
    }

    @media (--xl) {
        margin-bottom: 150px;

        /*  & .container>p {
     max-width: 540px;
     margin: 0 auto 3rem;
 } */
    }
}

.tab {
    display: flex;

    flex-direction: column;

    margin-top: 3.8rem;

    @media (--xl) {
        flex-direction: row;

        width: max-content;
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
    }

    & li {
        border-bottom: solid 1px var(--gray-blue-light);

        &:first-child {
            border-top: solid 1px var(--gray-blue-light);

            @media (--xl) {
                margin: 0 -1px;

                border-top: 0;
            }
        }
    }

    & button {
        display: block;
        position: relative;

        width: 100%;
        height: 5.7rem;

        transition: 0.3s;

        border: none;

        background-color: inherit;

        color: var(--gray);
        font-size: 1.7rem;
        line-height: 5.6rem;

        cursor: pointer;

        @media (--xl) {
            height: 7.6rem;
            padding: 0 55px;

            line-height: 7.5rem;
        }

        &:hover {
            color: var(--soft-red);
        }

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 50%;

            width: 0;
            height: 0.4rem;

            transform: translateX(-50%);
            transition: width 0.1s ease-out;

            background-color: var(--soft-red);

            will-change: width;
        }

        &.active {
            color: var(--dark-blue);
        }

        &.active::before,
        &:hover::before {
            width: 46%;

            color: var(--dark-blue);

            @media (--xl) {
                width: 100%;
            }
        }
    }
}

.tabcontent {
    padding-top: 7.2rem;

    @media (--xl) {
        display: grid;

        grid-column-gap: 81px;
        grid-template-columns: 1fr 0.9fr;

        padding-top: 8rem;
        padding-bottom: 72px;

        text-align: left;

        & > div {
            padding-top: 62px;
            padding-left: 43px;
        }
    }

    & img {
        margin: 0 auto 7.5rem;
        /* margin-left: auto; */

        @media (--md) {
            width: 90%;
            margin-bottom: 10rem;
        }
        @media (--xl) {
            margin-bottom: 0;
        }
    }

    & .btn {
        display: none;

        @media (--xl) {
            display: block;

            margin-left: 0;
        }
    }
}

#tab-02 img {
    width: 85%;
    margin: -17px 0 6.2rem 13%;

    @media (--md) {
        width: 75.6%;
    }
}

#tab-03 img {
    width: 86%;
    margin: -17px 0 6.2rem 13%;

    @media (--md) {
        width: 76.1%;
    }
}
