.features {
    position: relative;

    margin-bottom: 9.1rem;

    @media (--lg) {
        margin-bottom: 16.7rem;
    }

    &::after {
        content: '';

        display: block;
        position: absolute;
        z-index: -1;
        top: 46.5rem;
        left: 0;

        width: 78.7vw;
        height: 20.2rem;

        border-top-right-radius: 14rem;
        border-bottom-right-radius: 10rem;

        background-color: var(--soft-blue);

        @media (--sm) {
            height: 25rem;
        }

        @media (--md) {
            top: 56.5rem;

            height: 35.2rem;

            border-top-right-radius: 17.3rem;
            border-bottom-right-radius: 17.3rem;
        }

        @media (--lg) {
            top: 42.1rem;

            width: 44.3vw;
            height: 32rem;
        }

        @media (--xl) {
            height: 35.2rem;
        }
    }
}

.tab {
    display: flex;

    flex-direction: column;

    margin-top: 3.8rem;

    @media (--lg) {
        flex-direction: row;

        width: max-content;
        margin-top: 4rem;
        margin-right: auto;
        margin-left: auto;
    }

    & li {
        border-bottom: solid 0.1rem var(--gray-blue-light);

        &:first-child {
            border-top: solid 0.1rem var(--gray-blue-light);

            @media (--lg) {
                margin: 0;

                border-top: 0;
            }
        }
    }

    & .tablinks {
        display: block;
        position: relative;

        width: 100%;
        height: 5.7rem;

        transition: 0.3s;

        border: none;

        background-color: inherit;

        color: var(--gray);
        font-size: 1.7rem;
        line-height: 5.6rem;

        cursor: pointer;

        @media (--lg) {
            height: 7.6rem;
            padding: 0 5.5rem;

            line-height: 7.5rem;
        }

        &:hover {
            color: var(--soft-red);
        }

        &::before {
            content: '';

            position: absolute;
            bottom: 0;
            left: 49.5%;

            width: 0;
            height: 0.4rem;

            transform: translateX(-50%);
            transition: width 0.1s ease-out;

            background-color: var(--soft-red);

            will-change: width;
        }

        &.active {
            color: var(--dark-blue);
        }

        &.active::before,
        &:hover::before {
            width: 46%;

            color: var(--dark-blue);

            @media (--lg) {
                width: 100%;
            }
        }
    }
}

.tabcontent {
    padding-top: 7.2rem;

    @media (--lg) {
        display: grid;

        grid-column-gap: 2rem;
        grid-template-columns: 1fr 0.9fr;

        padding-top: 7.5rem;
        padding-bottom: 7.2rem;

        text-align: left;

        & > div {
            padding-top: 6.2rem;
            padding-left: 4.3rem;
        }

        @media (--xl) {
            grid-column-gap: 8.1rem;
        }
    }

    & img {
        margin: 0 auto 7.5rem;

        @media (--md) {
            width: 100%;
            margin-bottom: 10rem;
        }

        @media (--lg) {
            margin-bottom: 0;
        }
    }

    & .btn {
        display: none;

        @media (--lg) {
            display: block;

            margin-left: 0;
        }
    }
}

#tab-02 img {
    width: 85%;
    margin: -1.7rem 0 6.2rem 13%;

    @media (--lg) {
        width: 42rem;
    }

    @media (--xl) {
        width: 48rem;
    }
}

#tab-03 img {
    width: 86%;
    margin: -1.7rem 0 6.2rem 13%;

    @media (--lg) {
        width: 42rem;
    }

    @media (--xl) {
        width: 44rem;
    }
}
