.site-footer.attribution {
    padding: 0 0 1rem;

    & p {
        margin: 0 auto;

        font-size: 1.1rem;
        text-align: center;
    }
}

.attribution a {
    color: var(--soft-red);
}
