.sign-up {
    margin-bottom: 0;
    padding: 6.7rem 0 5rem;

    background-color: var(--soft-blue);

    color: var(--white);

    & h2 {
        margin-bottom: 3.3rem;

        color: var(--white);
        line-height: 1.2;

        @media (--lg) {
            max-width: 44rem;
            margin: 3.5rem auto 3.5rem;

            line-height: 1.3;
        }
    }
}

.extra-info {
    margin-bottom: 0.5rem;

    letter-spacing: 0.326rem;
    text-transform: uppercase;

    @media (--lg) {
        font-size: 1.4rem;
        letter-spacing: 0.418rem;
    }
}

form {
    display: flex;

    flex-flow: column wrap;

    max-width: 44.4rem;

    @media (--sm) {
        flex-flow: row nowrap;
        justify-content: space-between;

        margin: auto;

        & .btn {
            min-width: max-content;
            margin-top: 0;
            margin-left: 1.5rem;

            &:hover,
            &:active {
                border-color: currentcolor;

                background-color: var(--white);

                color: var(--soft-red);
            }
        }
    }

    @media (--lg) {
        width: 44.4rem;
    }

    & p {
        flex: 1;

        width: 100%;
    }

    & p * {
        display: block;
    }
}

input[type='email'] {
    width: 100%;
    height: 4.6rem;
    margin: 0;
    padding: 0 1.8rem;

    border-color: var(--white);

    background-color: var(--white);

    color: var(--gray-blue);
    font-size: 1.4rem;
    line-height: 4.5rem;

    @media (--md) {
        min-width: 30rem;
    }
}

input:focus {
    color: var(--dark-blue);
}

input:invalid {
    border-color: var(--soft-red);

    background: var(--white) url('../images/icon-error.svg') no-repeat 96% center;
}

input:focus:invalid {
    border-color: transparent;
}

.error {
    display: block;

    width: 100%;
    margin-top: -0.5rem;
    padding: 0;

    border-radius: 0 0 0.5rem 0.5rem;

    background-color: var(--soft-red);

    color: white;
    font-size: 80%;
    text-align: left;

    @media (--lg) {
        font-size: 60%;
    }
}

.error.active {
    padding: 0.8rem 1.2rem 0.5rem;
}

.btn-submit {
    width: 100%;
    height: 4.8rem;

    border-color: var(--soft-red);

    background-color: var(--soft-red);

    color: var(--white);
    line-height: 4.7rem;

    @media (--sm) {
        width: max-content;
    }
}
