.site-footer {
    padding: 3.8rem 0 3rem;

    background-color: var(--dark-blue);

    text-align: center;

    @media (--md) {
        padding-top: 2.6rem;
    }

    & .container {
        display: flex;

        flex-direction: column;
        align-items: center;
        justify-content: space-between;

        @media (--md) {
            flex-direction: row;
        }
    }

    & .social {
        display: flex;

        align-items: center;
        justify-content: space-between;

        width: 9rem;
        margin: auto auto 4rem;

        @media (--md) {
            margin: 0;
        }
    }

    & svg:hover,
    & svg:active {
        fill: var(--soft-red);
    }
}

.site-footer-nav {
    margin: 4rem 0 3rem;

    @media (--md) {
        display: flex;

        margin: 0 auto 0 6.5rem;
    }

    & a {
        display: block;

        height: 4rem;

        transition: 0.2s;

        color: var(--white);
        font-size: 1.4rem;
        letter-spacing: 0.3rem;
        line-height: 3.9rem;
        text-transform: uppercase;

        &:hover {
            color: var(--soft-red);
        }

        @media (--md) {
            margin-right: 4.2rem;

            font-size: 1.3rem;
        }
    }
}
