.site-header {
    margin-bottom: 7.8rem;

    @media (--xl) {
        margin-bottom: 10rem;
    }

    & .container {
        display: flex;

        align-items: center;
        justify-content: space-between;

        margin-top: 4rem;

        @media (--xl) {
            margin-top: 4.8rem;
        }
    }

    & .social {
        display: flex;

        align-items: center;
        justify-content: space-around;

        width: 12.8rem;
        margin: auto auto 4rem;

        @media (--xl) {
            display: none;
        }
    }
}

.nav {
    display: flex;

    text-align: center;
}

.nav-toggle {
    display: flex;
    z-index: 100;

    flex-direction: column;
    justify-content: space-between;

    height: 1.5rem;

    cursor: pointer;

    @media (--xl) {
        display: none;
    }

    & i {
        display: block;

        width: 1.8rem;
        height: 0.3rem;

        background: var(--dark-blue);
    }
}

/* hamburger animation */
#nav:checked + .nav-toggle {
    transform: rotate(45deg);
}

#nav:checked + .nav-toggle i,
#nav + .nav-toggle i {
    transition: transform 0.2s ease-out;
}

#nav:checked + .nav-toggle i:nth-child(1) {
    transform: translateY(0.5rem) rotate(180deg);

    background-color: var(--white);
}

#nav:checked + .nav-toggle i:nth-child(2) {
    transform: translateY(-5rem);

    opacity: 0;
    background-color: var(--white);
}

#nav:checked + .nav-toggle i:nth-child(3) {
    transform: translateY(-0.7rem) rotate(90deg);

    background-color: var(--white);
}

#nav:checked ~ .nav-wrapper {
    z-index: 90;
    top: 0;

    opacity: 1;
}

#nav + .nav-toggle i + .nav {
    display: hidden;
}

.nav-wrapper {
    display: flex;
    position: fixed;
    top: -100vh;
    right: 0;
    left: 0;

    flex-direction: column;

    height: 100vh;
    padding: 4rem 3rem;

    transition: 0.3s cubic-bezier(0.94, 0.06, 0.61, 0.92);

    opacity: 0;
    background: var(--dark-blue-transparent);

    @media (--xl) {
        position: static;

        flex-direction: row;

        height: unset;
        padding: 0;

        opacity: 1;
        background: none;

        & svg {
            display: none;
        }
    }
}

.site-nav {
    margin-top: 4rem;

    @media (--xl) {
        display: flex;

        align-items: baseline;
        justify-content: space-between;

        width: 46.6rem;
        margin-top: 0;
    }

    & .login {
        box-shadow: 0 5px 8px 1px var(--soft-blue-medium);
        padding: 0 3rem;
        border: solid 2px currentcolor;
        border-radius: 5px;
        color: var(--white);
        font-weight: 500;

        @media (--xl) {
            border-color: var(--soft-red);
            background-color: var(--soft-red);

            color: var(--white);

            &:hover,
            &:active {
                color: var(--soft-red);
                border-color: currentcolor;
                background-color: var(--white);
                box-shadow: 0 3px 5px 0 var(--soft-blue-medium);
            }
        }
    }

    & li {
        border-top: solid 1px var(--gray-blue);

        &:last-child {
            padding-top: 2.4rem;
        }

        @media (--xl) {
            border: 0;

            &:last-child {
                padding-top: 0;
            }
        }
    }

    & a {
        display: block;

        height: 6.5rem;

        transition: 0.2s;

        color: var(--white);
        font-size: 1.6rem;
        letter-spacing: 0.4rem;
        line-height: 6.4rem;
        text-transform: uppercase;

        @media (--xl) {
            height: 4rem;
            padding: 0 1rem;

            color: var(--dark-blue);
            font-size: 1.3rem;
            letter-spacing: 0.167rem;
            line-height: 3.7rem;

            &:hover,
            &:active {
                color: var(--soft-red);
            }
        }
    }
}
